.create-container{
    width: 100%;
    height: 91.3vh;
    display: flex;
    align-items: center;
    background: #c9c1c1;
    justify-content: center;
}
.create-wrapper{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 3rem 3rem 2rem 3rem;
    border: 1px solid #CAD5E2;
    border-radius: 8px;
    background:#fff;
    height: 90%;
}
.create-details{
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:100%;
    height:40px;
}
.create-details:focus{
    outline: none;
}
#upload_image{
    display: none !important;
}
.create-upload-btn{
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    border: 1px solid #3535ad;
    border-radius: 9px;
    margin-top: 2rem;
    color: blue;
    font-size: 22px;
    cursor: pointer;   
    margin-top: 10px;
}

/* Header  */
.create-header h1{
    font-size: 40px;
    margin-bottom: 1rem;
    color: #4a4aeb;
}
/* Input title */
.create-title, .create-description, .create-upload-image{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Label css */
.create-wrapper label{
    font-size: 25px;
    font-weight: 700;
    color: #4f4fab;
    margin-bottom: 8px;
}
.create-title input, .create-description textarea{
    width: 100%;
    border: 1px solid #CAD5E2;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 1rem;
    border-radius: 8px;
    color: #0D0D0D;
    margin-bottom: 1rem;
}
.create-title input:focus, .create-description textarea:focus{
    outline: none;
}
.create-upload-image label{
    margin-bottom: 1rem;
}
.create-submit-btn {
    margin-top: 1rem;
}